.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 100vh;
  background: #353535;
  color: #FFF;
}

.slider {
  width: 60vw;
  height: 70%;
  display: grid; 
  grid-template-rows: 6fr 1fr;
  grid-template-columns: 2fr 1fr;
  gap: 2em 0;
  background: #191919;
  overflow-x: hidden;
  background: #191919;
  overflow: hidden;
  border-radius: 1em;
}

.slider__radio {
  display: none;
}

.wrapper {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500%;
  transition: transform 800ms cubic-bezier(0.23, 1, 0.320, 1);
}

.slider__item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-img {
  width: 100%;
  height: 100%;
}

#img_1 {
  background: url(./assets/img/mem_1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#img_2 {
  background: url(./assets/img/mem_2.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#img_3 {
  background: url(./assets/img/mem_3.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#img_4 {
  background: url(./assets/img/mem_4.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#img_5 {
  background: url(./assets/img/mem_5.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#item_1 {
  background: #000000;
}

#item_2 {
  background: #DED9D6;
}

#item_3 {
  background: #000000;
}

#item_4 {
  background: #000000;
}

#item_5 {
  background: #000000;
}

#btn_1:checked ~ .wrapper {
  transform: translateX(0);
}

#btn_2:checked ~ .wrapper {
  transform: translateX(-20%);
}

#btn_3:checked ~ .wrapper {
  transform: translateX(-40%);
}

#btn_4:checked ~ .wrapper {
  transform: translateX(-60%);
}

#btn_5:checked ~ .wrapper {
  transform: translateX(-80%);
}

.slider__text-content {
  height: 100%;
  padding-left: 2em;
  overflow: hidden;
}

.text-content {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  font-weight: 400;
  transition: transform 700ms ease;
  transition-delay: 300ms;
}

#btn_1:checked ~ .slider__text-content .text-content{
  transform: translateY(0%);
}

#btn_2:checked ~ .slider__text-content .text-content{
  transform: translateY(-100%);

}

#btn_3:checked ~ .slider__text-content .text-content{
  transform: translateY(-200%);
}

#btn_4:checked ~ .slider__text-content .text-content{
  transform: translateY(-300%);
}

#btn_5:checked ~ .slider__text-content .text-content{
  transform: translateY(-400%);
}

.slider__controls {
  display: flex;
  justify-content: flex-end;
  padding-right: 2em;
}

.slider__controls label {
  display: block;
  display: flex;
  justify-content: center;
  width: 1.8em;
  height: 1.8em;
  background: transparent;
  cursor: pointer;
  transition: 0.3s;
}

label:nth-child(1):hover span,
label:nth-child(2):hover span,
label:nth-child(3):hover span,
label:nth-child(4):hover span,
label:nth-child(5):hover span {
  border: 0.1em solid white;
  background: white;
  cursor: pointer;
  transition: 0.3s;
}

label:nth-child(1):active,
label:nth-child(2):active,
label:nth-child(3):active,
label:nth-child(4):active,
label:nth-child(5):active {
  background: #cdcdcd;
  border-radius: 1em;
}

label span {
  display: block;
  width: 0.8em;
  height: 0.8em;
  background: #2626eb;
  border: 0.1em solid #2626eb;
  border-radius: 50%;
}

#btn_1:checked ~ .slider__controls label:nth-child(1) > span,
#btn_2:checked ~ .slider__controls label:nth-child(2) > span,
#btn_3:checked ~ .slider__controls label:nth-child(3) > span,
#btn_4:checked ~ .slider__controls label:nth-child(4) > span,
#btn_5:checked ~ .slider__controls label:nth-child(5) > span {
  background: transparent;
  border: 0.1em solid #2626eb;
}

#btn_1:checked ~ .slider__controls label:nth-child(1):hover > span,
#btn_2:checked ~ .slider__controls label:nth-child(2):hover > span,
#btn_3:checked ~ .slider__controls label:nth-child(3):hover > span,
#btn_4:checked ~ .slider__controls label:nth-child(4):hover > span,
#btn_5:checked ~ .slider__controls label:nth-child(5):hover > span {
  background: transparent;
  border: 0.1em solid #FFFFFF;
}


@media (max-width: 1669px){
  .slider {
    width: 65vw;
  }
}

@media (max-width: 1300px){
  .slider {
    width: 75vw;
  }
}

@media (max-width: 767px){
  .container {
    align-items: flex-start;
    padding-top: 5em;
  }
  .slider {
    width: 90vw;
    height: 50%;
    grid-template-rows: 4fr 0.3fr 1fr;
    grid-template-columns: 1fr;
    gap: 1em 0;
  }

  .wrapper {
    grid-column-end: 2;
  }

  .slider__text-content {
    width: 90%;
    height: 60%;
    padding-left: 0.5em;
    order: 3;
  }

  .text-content {
    font-size: 0.7em;
    font-weight: 400;
    transition: transform 700ms ease;
    transition-delay: 300ms;
  }

  .slider__controls {
    justify-content: center;
    padding-right: 0;
    order: 2;
  }
}